{# templates/pages/about.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <section class="content-section">
        <div class="card">
            <h1>About</h1>

            <p>
                This page will progressively present my background,
                my experience and the way I approach web development projects.
            </p>

            <p>
                For now, the best overview of my work can be found
                through the projects and experiences sections of this website.
            </p>
        </div>
    </section>
{% endblock %}
