<!DOCTYPE html>
<html lang="{% block lang %}fr{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Benjamin Lemin{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Site personnel de Benjamin Lemin, développeur web indépendant spécialisé en PHP, Symfony et Drupal.{% endblock %}">
    <link rel="icon" type="image/jpg" href="{{ asset('favicon.jpg') }}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
</body>
</html>
