{% set current_route = app.request.attributes.get('_canonical_route')|default(app.request.attributes.get('_route')) %}
{% set current_route_params = app.request.attributes.get('_route_params')|default({}) %}

<div class="lang-switcher">
    <a href="{{ path(current_route, current_route_params|merge({'_locale': 'fr'})) }}"
       class="{{ app.request.locale == 'fr' ? 'active' : '' }}">
        FR
    </a>

    <span aria-hidden="true">/</span>

    <a href="{{ path(current_route, current_route_params|merge({'_locale': 'en'})) }}"
       class="{{ app.request.locale == 'en' ? 'active' : '' }}">
        EN
    </a>
</div>
