{# Components - _site_footer.html.twig #}

{% trans_default_domain 'layout' %}

<footer class="site-footer">
    <div class="site-footer__content">
        <p>
            © {{ "now"|date("Y") }} Benjamin Lemin —
            {{ 'footer.handmade'|trans }}
        </p>

        <p class="site-footer__signature">
            {{ 'footer.signature'|trans }}
        </p>

        <p>{{ 'footer.disclaimer_tracking'|trans }}</p>
    </div>
</footer>
